# Системные кэши Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Локальные переменные окружения и секреты
.env
.env.*

# Логи работы приложения и тестов
*.log

# Виртуальное окружение (если создаешь его внутри папки проекта)
venv/
.venv/
env/
